@model System.Collections.Generic.List<Reddit.Models.Post>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posts</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <a href="/posts/add">Add Post</a>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Score</th>
                <th scope="col">Uprate</th>
                <th scope="col">Downrate</th>
                <th scope="col">Content</th>
                <th scope="col">Creation time</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Math.Min(10, Model.Count); i++)
            {
                if (i == 0)
                {
                    <tr>
                        <td>@Model[i].Score</td>
                        <td><a href="/posts/up?id=@Model[i].PostId"> + </a></td>
                        <td><a href="/posts/down?id=@Model[i].PostId"> - </a></td>
                        <td>@Model[i].Content</td>
                        <td>@Model[i].CreatonTime</td>
                    </tr>
                }
                else if (Model[i-1].Score >= Model[i].Score)
                {
                    <tr>
                        <td>@Model[i].Score</td>
                        <td><a href="/posts/up?id=@Model[i].PostId"> + </a></td>
                        <td><a href="/posts/down?id=@Model[i].PostId"> - </a></td>
                        <td>@Model[i].Content</td>
                        <td>@Model[i].CreatonTime</td>
                    </tr>
                }
                else
                {
                    break;

                }
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="/posts/0)">First</a></li>
            @for (int i = 0; i < ((Model.Count % 10 == 0) ? Model.Count /10 : Model.Count / 10 + 1) ; i++)
            {
                <li class="page-item"><a class="page-link" href="/posts/@i">@i</a></li>
            }            
        </ul>
    </nav>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>