@model PallidaWareHouse.ViewModels.ShoppingViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Web Store</title>
</head>
<body>
    <h2>Green Fox Fashion Web Store</h2>
    <form action="/warehouse/summary" method="post">
        <select name="itemName">   
            @for (int i = 0; i < Model.UniqueNames.Count; i++)
            {
                <option value="@Model.UniqueNames[i]">@Model.UniqueNames[i]</option>
            }            
        </select>
        <select name="size">
            @for (int i = 0; i < Model.UniqueSizes.Count; i++)
            {
                <option value="@Model.UniqueSizes[i]">@Model.UniqueSizes[i]</option>
            }
        </select>
        <input type="text" name="quantity" value="" />
        <input type="submit" name="name" value="get total" />
    </form>   
    <table style="width:100%">
        <tr>
            <th>Item name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Size</th>
            <th>Unit price</th>
        </tr>
        @for (int i = 0; i < Model.ClothesList.Count; i++)
        {
            <tr>
                <td>@Model.ClothesList[i].ItemName</td>
                <td>@Model.ClothesList[i].Manufacturer</td>
                <td>@Model.ClothesList[i].Category</td>
                <td>@Model.ClothesList[i].Size</td>
                <td>@Model.ClothesList[i].UnitPrice</td>
            </tr>
        }
    </table>
</body>
</html>